In [1]:
import pandas as pd
import pymysql

In [2]:
db_name = "online_store_data"
db_host = "localhost"
db_username = "root"
db_password = "Garracrema25"

In [3]:
try:
    conn = pymysql.connect(host=db_host,
                            port=int(3306),
                            user='root',
                            passwd=db_password,
                            db=db_name)
except e:
    print(e)

In [4]:
if conn:
    print("Successful Connection!")
else:
    print("Connection Failed")

Successful Connection!

In [5]:
full_table = pd.read_sql_query("""SELECT * FROM e_commerce LIMIT 10""", conn)
full_table

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4,Mobile Phone,3,6,Debit Card,Female,3,3,Laptop & Accessory,2,Single,9,1,11,1,1,5,160
1,50002,1,,Phone,1,8,UPI,Male,3,4,Mobile,3,Single,7,1,15,0,1,0,121
2,50003,1,,Phone,1,30,Debit Card,Male,2,4,Mobile,3,Single,6,1,14,0,1,3,120
3,50004,1,0,Phone,3,15,Debit Card,Male,2,4,Laptop & Accessory,5,Single,8,0,23,0,1,3,134
4,50005,1,0,Phone,1,12,CC,Male,,3,Mobile,5,Single,3,0,11,1,1,3,130
5,50006,1,0,Computer,1,22,Debit Card,Female,3,5,Mobile Phone,5,Single,2,1,22,4,6,7,139
6,50007,1,,Phone,3,11,Cash on Delivery,Male,2,3,Laptop & Accessory,2,Divorced,4,0,14,0,1,0,121
7,50008,1,,Phone,1,6,CC,Male,3,3,Mobile,2,Divorced,3,1,16,2,2,0,123
8,50009,1,13,Phone,3,9,E wallet,Male,,4,Mobile,3,Divorced,2,1,14,0,1,2,127
9,50010,1,,Phone,1,31,Debit Card,Male,2,5,Mobile,3,Single,2,0,12,1,1,1,123

number of customers, how many churned?, tenure range, distribution of login device, how many city tier, count of city tier, range of warehouse distance, how many payment methods?, count of payment methods, range of hours spent on app & distribution, devices registered count, order categories & count, satisfaction score distribution, address ranges & count, complaints count, count of amount hikes & range, coupons used count, order count characteristics what dopes it tell us?, cashback amount range & categories?

In [6]:
number_of_customers = pd.read_sql_query("""
select
count(distinct CustomerID) as number_of_customers
from e_commerce
""", conn)

number_of_customers.style.hide_index()

In [7]:
count_customers_churned = pd.read_sql_query("""
select
Churn as churn_category, (count(*)/4293)*100 as proportion
from e_commerce
group by churn_category
""", conn)

count_customers_churned.style.hide_index()

In [8]:
tenure_range = pd.read_sql_query("""
select
min(Tenure) as shortest_tenure, max(Tenure) as longest_tenure
from e_commerce
where Tenure != ""
""", conn)

tenure_range.style.hide_index()

In [9]:
login_device_distribution = pd.read_sql_query("""
select
PreferredLoginDevice as device, (count(*)/4293)*100 as proportion
from e_commerce
group by device
order by proportion desc
""", conn)

login_device_distribution.style.hide_index()

In [10]:
city_tiers = pd.read_sql_query("""
select
count(distinct CityTier) as number_of_tiers
from e_commerce
""", conn)

city_tiers.style.hide_index()

In [11]:
proportions_per_tier = pd.read_sql_query("""
select
CityTier as tiers, (count(*)/4293)*100 as proportion
from e_commerce
group by tiers
order by proportion desc
""", conn)

proportions_per_tier.style.hide_index()

In [12]:
warehouse_distance = pd.read_sql_query("""
select
min(WarehouseToHome) as minimum_distance, max(WarehouseToHome) as maximum_distance
from e_commerce
""", conn)

warehouse_distance.style.hide_index()

In [13]:
proportion_warehouse_distance = pd.read_sql_query("""
SELECT
CASE
WHEN WarehouseToHome BETWEEN 0 AND 10 THEN '5-10'
WHEN WarehouseToHome BETWEEN 11 AND 20 THEN '10-20'
WHEN WarehouseToHome BETWEEN 21 AND 30 THEN '20-30'
WHEN WarehouseToHome BETWEEN 31 AND 40 THEN '30-40'
WHEN WarehouseToHome BETWEEN 41 AND 50 THEN '40-50'
WHEN WarehouseToHome BETWEEN 51 AND 60 THEN '50-60'
WHEN WarehouseToHome BETWEEN 61 AND 70 THEN '60-70'
WHEN WarehouseToHome BETWEEN 71 AND 80 THEN '70-80'
WHEN WarehouseToHome BETWEEN 81 AND 90 THEN '80-90'
WHEN WarehouseToHome BETWEEN 91 AND 100 THEN '90-100'
ELSE '100 +' END AS distance_category,
(COUNT(*)/4293)*100 AS proportion
FROM e_commerce
GROUP BY distance_category
ORDER BY proportion DESC
""", conn)

proportion_warehouse_distance.style.hide_index()

In [14]:
payment_methods = pd.read_sql_query("""
select
distinct PreferredPaymentMode as payment_methods, count(*) as count
from e_commerce
group by payment_methods
order by count desc
""", conn)

payment_methods.style.hide_index()

In [17]:
hours_spent_range = pd.read_sql_query("""
select
min(HourSpendOnApp) as minimun_hours_spent, max(HourSpendOnApp) as maximum_hours_spent
from e_commerce
where HourSpendOnApp != "" and HourSpendOnApp != 0
""", conn)

hours_spent_range.style.hide_index()

In [ ]:
hours_spent_distribution = pd.read_sql_query("""
select

""", conn)